---
import i18next from "i18next"
import Base from "./Base.astro"

export interface Props {
  content: {
    title: string
    description: string
    author?: string
    createdAt?: Date
    updatedAt?: Date
    heroImage?: string
  }
}

const {
  content: { title, description, author, heroImage },
} = Astro.props as Props
---

<Base title={title} description={description} author={author}>
  <article class="flex flex-col">
    {
      heroImage ? (
        <div
          class="hero min-h-half-screen"
          style={`background-image: url(${heroImage});`}
        >
          <div class="hero-overlay bg-opacity-70" />
          <div class="hero-content text-center">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold" set:html={title} />
              <p class="py-6" set:html={description} />
            </div>
          </div>
        </div>
      ) : (
        <div class="hero min-h-half-screen bg-base-200">
          <div class="hero-content text-center">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold" set:html={title} />
              <p class="py-6" set:html={description} />
            </div>
          </div>
        </div>
      )
    }
    <section class="m-8 prose prose-headings:scroll-mt-20 w-4/5 self-center">
      <slot />
    </section>
    <section class="m-8 w-4/5 max-w-3xl self-center">
      <script
        src="https://giscus.app/client.js"
        data-repo="duskmoon314/LoD-frontend"
        data-repo-id="R_kgDOH4KFfA"
        data-category="Announcements"
        data-category-id="DIC_kwDOH4KFfM4CRCK4"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang={i18next.language === "zh" ? "zh-CN" : "en"}
        data-loading="lazy"
        crossorigin="anonymous"
        async
      ></script>
    </section>
  </article>
</Base>
