---
import Base from "./Base.astro"

export interface Props {
  content: {
    title: string
    description: string
    author?: string
    createdAt?: string
    updatedAt?: string
    heroImage?: string
  }
}

const {
  content: { title, description, author, createdAt, updatedAt, heroImage },
} = Astro.props as Props
---

<Base title={title} description={description} author={author}>
  <article class="flex flex-col">
    {
      heroImage ? (
        <div
          class="hero min-h-half-screen"
          style={`background-image: url(${heroImage});`}
        >
          <div class="hero-overlay bg-opacity-70" />
          <div class="hero-content text-center">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold" set:html={title} />
              <p class="py-6" set:html={description} />
            </div>
          </div>
        </div>
      ) : (
        <div class="hero min-h-half-screen bg-base-200">
          <div class="hero-content text-center">
            <div class="max-w-md">
              <h1 class="text-5xl font-bold" set:html={title} />
              <p class="py-6" set:html={description} />
            </div>
          </div>
        </div>
      )
    }
    <!-- <section></section> -->
    <section class="m-8 prose w-4/5 self-center">
      <slot />
    </section>
  </article>
</Base>
